In [2]:
# lists are ordered sequences
# lists are mutable
my_list = [1,2,3]
my_list

[1, 2, 3]

In [3]:
my_list1 = ['STRING',100,25.5]
my_list1

['STRING', 100, 25.5]

In [4]:
len(my_list1)

3

In [5]:
my_list2 = ['one','two','three']
my_list2

['one', 'two', 'three']

In [6]:
my_list2[0] # extracting index position one

'one'

In [8]:
my_list3 = ['four','five']

In [9]:
my_list2 + my_list3 # concatenating two lists

['one', 'two', 'three', 'four', 'five']

In [10]:
new_list = my_list2 + my_list3 # assigning concatenation to new_list variable
new_list

['one', 'two', 'three', 'four', 'five']

In [13]:
my_list4 = ['Nine','Eleven']
my_list4

['Nine', 'Eleven']

In [14]:
my_list4[0] = 'Ten' # modifying position 0

In [15]:
my_list4 # lists are mutable, original list is modified

['Ten', 'Eleven']

- append method

In [19]:
my_list4.append('Twelve') # adds the element to

In [20]:
my_list4

['Ten', 'Eleven', 'Twelve']

In [21]:
my_list4.append('Thirteen')
my_list4

['Ten', 'Eleven', 'Twelve', 'Thirteen']

- pop method

In [22]:
my_list4.pop() # defult it removes last element and returns the popped element

'Thirteen'

In [23]:
my_list4

['Ten', 'Eleven', 'Twelve']

In [24]:
my_list4.pop(1) # removing index position one element

'Eleven'

In [25]:
my_list4

['Ten', 'Twelve']

- sort method

In [26]:
char_list = ['a','e','x','b','c'] 

char_list.sort() # sort's alphabatically

char_list

['a', 'b', 'c', 'e', 'x']

In [27]:
num_list = [4,1,8,3]

num_list.sort() # sort's by ascending order

num_list

[1, 3, 4, 8]

- reverse method

In [28]:
my_list5 = [1,2,3,4,5]

my_list5.reverse()

my_list5

[5, 4, 3, 2, 1]

- extend method

In [30]:
my_list6 = [1,2,3,4]
my_list7 = [5,6,7,8]

my_list6.extend(my_list7)

my_list6

[1, 2, 3, 4, 5, 6, 7, 8]

- count method

In [32]:
my_list6.count(4) # returns how many number of times 4 is occured in the list

1

- index method

In [33]:
my_list6.index(5) # returns the element at index position 5

4

- remove method

In [34]:
my_list6.remove(8) # removes 8 from the list

In [35]:
my_list6

[1, 2, 3, 4, 5, 6, 7]

- insert method

In [36]:
my_list6.insert(0,8) # inserts 8 at index position zero
my_list6

[8, 1, 2, 3, 4, 5, 6, 7]